<div class="container">
  <div [ngClass]="customClass || 'defaultClass'">
    <div class="header">
      <div>Online help</div>
    </div>
    <div class="content">
      <div class="inner" *ngIf="!showFinish">
        <div class="inner-title">Ask please what do you want?</div>
        <div class="items">
          <ul>
            <li class="item" *ngFor="let item of titleList">
              <span [id]="item.id" (click)="setTitle(item.item, item.answer)">{{item.title}}</span>
            </li>
          </ul>
        </div>
      </div>
      <template #finalanswer></template>
      {{answer}}
    </div>
    <div class="navigations">
      <button *ngIf="showBack" class="btn-prev" (click)="back()">Back</button>
    </div>
  </div>
</div>
