@import '../../styles/base/variables';

.faq-assistant li {
  list-style: none;
  cursor: pointer;
}

.container-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 1;
  transition: .3s ease-out;
}

.visibilityContainer {
  opacity: 0;
}

.faq-container {
  position: fixed;
  bottom: 8%;
  right: 5%;
  z-index: 1000;
}

.faq-container__image-btn {
  float: right;
}

.faq-container__opacity-btn {
  opacity: .6;
}

.faq-container__shadow-icon {
  box-shadow: 0 0 10px $color-box-shadow-icon;
}

.faq-assistant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}

.faq-assistant__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 26px 15px;
  width: 350px;
  background: linear-gradient(to right, #04fcca, #3930fd 51%, #732ef3);
  box-shadow: 0 2px 3px $color-box-shadow;
  border-radius: 20px 20px 0 0;
  color: $color-text-white;
  font-size: 16px;
  font-weight: 600;
}

.faq-assistant__navigations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.faq-assistant__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: 400px;
  width: 350px;
  padding: 30px 15px 20px 15px;
  box-shadow: 0 2px 4px -1px;
  background: $color-text-white;
  background-size: 100%;
  position: relative;
  margin-bottom: 50px;
  border-radius: 0 0 20px 20px;
}

.faq-assistant__inner {
  border: 1px solid $color-text-inner-item;
  border-radius: 20px;
  position: relative;
  width: 300px;
  height: 350px;
  overflow: auto;
}

.faq-assistant__inner-title {
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 16px 10px;
  color: $color-text-inner-title;
}

.faq-assistant__item {
  padding: 10px 0;
  color: $color-text-item;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 500;
}

.faq-assistant__items {
  margin-bottom: 0;
}

.faq-assistant__items ul {
  padding: 16px 16px;
}

.faq-assistant__btn-prev {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#04fcca), color-stop(51%, #3930fd), to(#732ef3));
  background: linear-gradient(to right, #04fcca, #3930fd 51%, #732ef3);
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #8bbd8b;
  box-shadow: 0 0 5px #8bbd8b;
  color: $color-text-white;
  margin-bottom: 10px;
}

.faq-assistant__btn-prev:hover {
  background: linear-gradient(to right, #732ef3, #3930fd 51%, #04fcca);
}

.faq-assistant__answer {
  border: 1px solid $color-border-answer;
  border-radius: 20px;
  position: relative;
  width: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faq-assistant__answer-detail {
  padding: 20px;
  color: $color-border-answer-detail;
  font-size: 15px;
  font-weight: 500;
}
