@import '../../styles/base/variables';

.faq-assistant li {
  position: relative;
  list-style: none;
  cursor: pointer;
  border: 1px solid $color-text-inner-title;
  border-radius: 10px;
  text-align: center;
  transition: .3s ease-out;
  overflow: hidden;
}

.faq-assistant li div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.faq-assistant li:hover {
  box-shadow: 0 5px 10px $color-box-shadow-item;
}

.container-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  transition: .5s ease-out;
}

.visibilityContainer {
  opacity: 1;
}

.faq-container {
  position: fixed;
  bottom: 8%;
  right: 5%;
  z-index: 1000;
}

.faq-container__image-btn {
  float: right;
}

.faq-container__opacity-btn {
  opacity: .6;
}

.faq-container__shadow-icon {
  box-shadow: 0 0 10px $color-box-shadow-icon;
}

.faq-assistant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}

.faq-assistant__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 26px 15px;
  background: linear-gradient(to right, #04fcca, #3930fd 51%, #732ef3);
  box-shadow: 0 2px 3px $color-box-shadow;
  border-radius: 20px 20px 0 0;
  color: $color-text-white;
  font-size: 18px;
  font-weight: 600;
}

.faq-assistant__navigations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.faq-assistant__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: 400px;
  width: 350px;
  padding: 20px 0 0 0;
  box-shadow: 0 2px 4px -1px;
  background: $color-text-white;
  background-size: 100%;
  position: relative;
  margin-bottom: 50px;
  border-radius: 0 0 20px 20px;
}

.faq-assistant__inner {
  border-radius: 20px;
  position: relative;
  width: 300px;
  height: 350px;
}

.faq-assistant__inner-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 16px 10px;
  color: $color-text-inner-title;
}

.faq-assistant__item {
  padding: 10px 0;
  color: $color-text-item;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 10px 0;
}

.faq-assistant__items {
  margin-bottom: 0;
}

.faq-assistant__items ul {
  padding: 0;
}

.faq-assistant__items span {
  padding-left: 45px;
  text-align: left;
  width: 90%;
}

.faq-assistant__btn-prev {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, #04fcca, #3930fd 51%, #732ef3);
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px $color-box-shadow-btn;
  color: $color-text-white;
  margin-bottom: 10px;
}

.faq-assistant__btn-prev:hover {
  background: linear-gradient(to right, #732ef3, #3930fd 51%, #04fcca);
}

.faq-assistant__answer {
  position: relative;
  width: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faq-assistant__answer-detail {
  color: $color-border-answer-detail;
  font-size: 15px;
  font-weight: 500;
}

.faq-assistant__custom-radio-button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  border: 3px solid $color-radio-button-item;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
  pointer-events: none;
}
