//Color text
$color-text-white: #ffffff;
$color-text-item: #808080;

// Color background
$color-background-header: #7AB72B;
$color-background-btn: #7ab72b;

//Color shadow
$color-box-shadow: #c7bdbd;
$color-box-shadow-btn: #8bbd8b;
$color-box-shadow-icon: #3bdcec;

//Color border
$color-border: #808080;
