$color-text-white: #ffffff;
$color-background-header: #7AB72B;
$color-box-shadow: #c7bdbd;
$color-border: #808080;
$color-text-item: #808080;
$color-background-btn: #7ab72b;
$color-box-shadow-btn: #8bbd8b;
